{% extends 'base.html.twig' %}

{% block title %}todo list{% endblock %}

{% block body %}
	<h1>todo list</h1>
	{% if todos %}
		<div id="todolist">
			{% for todo in todos %}
				<div>
					<a class="btn btn-sm btn-info mb-2" href="todo/{{todo.id}}" role="button"> {{todo.title}} </a>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div id="no_todolist">No todos data to show! </div>
	{% endif %}
	<a class="btn btn-primary" href="todo/add" role="button">Add a to-do</a>
{% endblock %}